In [105]:
import pandas as pd
import datetime

In [106]:
df = pd.read_excel("phivolcs_earthquakes_2018_2025.xlsx")

In [107]:
df.head(5)

,Date - Time (Philippine Time),Latitude (ºN),Longitude (ºE),Depth (km),Mag,Location
0,31 January 2018 - 11:07 PM,13.20,125.48,025,2.8,082m N 29° E of Palapag (Northern Samar)
1,31 January 2018 - 10:32 PM,11.68,124.26,007,3.7,011 km S 87° W of Kawayan (Biliran)
2,31 January 2018 - 08:23 PM,13.05,120.56,034,3.5,018 km S 83° W of Santa Cruz (Occidental Mindoro)
3,31 January 2018 - 06:42 PM,14.11,120.43,122,1.9,021 km N 82° W of Nasugbu (Batangas)
4,31 January 2018 - 12:28 AM,18.71,120.87,022,3.3,017 km N 29° E of Pagudpud (Ilocos Norte)

### Cleaning

In [159]:

df_clean = df.copy()
df_clean.head(5)

,Date - Time (Philippine Time),Latitude (ºN),Longitude (ºE),Depth (km),Mag,Location
0,31 January 2018 - 11:07 PM,13.20,125.48,025,2.8,082m N 29° E of Palapag (Northern Samar)
1,31 January 2018 - 10:32 PM,11.68,124.26,007,3.7,011 km S 87° W of Kawayan (Biliran)
2,31 January 2018 - 08:23 PM,13.05,120.56,034,3.5,018 km S 83° W of Santa Cruz (Occidental Mindoro)
3,31 January 2018 - 06:42 PM,14.11,120.43,122,1.9,021 km N 82° W of Nasugbu (Batangas)
4,31 January 2018 - 12:28 AM,18.71,120.87,022,3.3,017 km N 29° E of Pagudpud (Ilocos Norte)

In [ ]:

df_clean['Datetime'] = df_clean['Date - Time (Philippine Time)'].astype(str)
df_clean['Datetime'] = df_clean['Datetime'].str.replace(r'_x000D_|\\n|\\t', ' ', regex=True)
df_clean['Datetime'] = df_clean['Datetime'].str.replace(r'\\s+', ' ', regex=True).str.strip()


df_clean['Datetime'] = pd.to_datetime(df_clean['Datetime'], errors='coerce', dayfirst=True)

C:\Users\darly\AppData\Local\Temp\ipykernel_16580\173019718.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_clean['Datetime'] = pd.to_datetime(df_clean['Datetime'], errors='coerce', dayfirst=True)

Empty DataFrame
Columns: [Date - Time (Philippine Time), Latitude (ºN), Longitude (ºE), Depth (km), Mag, Location, Datetime]
Index: []

#### Location

In [161]:
df_clean['Location'] = df_clean['Location'].str.replace(r'_x000D_\\n\\t\\t', ' ', regex=True)
df_clean['Location'] = df_clean['Location'].str.replace(r'_x000D_|\n|\t', ' ', regex=True)
df_clean['Location'] = df_clean['Location'].str.replace(r'\s+', ' ', regex=True).str.strip()

# df_clean['Province'] = df_clean['Location'].str.extract(r'\(([^)]+)\)', expand=False)

In [163]:
df_clean['Location'] = df_clean['Location'].str.replace(r'^.*\bof\b\s+', '', regex=True)
df_clean['City'] = df_clean['Location'].str.replace(r'\(([^)]+)\)', '', regex=True)
df_clean['Province'] = df_clean['Location'].str.extract(r'\(([^)]+)\)', expand=False)

df_clean.head(5)

,Date - Time (Philippine Time),Latitude (ºN),Longitude (ºE),Depth (km),Mag,Location,Datetime,Province,City
0,31 January 2018 - 11:07 PM,13.20,125.48,025,2.8,Palapag (Northern Samar),2018-01-31 23:07:00,Northern Samar,Palapag
1,31 January 2018 - 10:32 PM,11.68,124.26,007,3.7,Kawayan (Biliran),2018-01-31 22:32:00,Biliran,Kawayan
2,31 January 2018 - 08:23 PM,13.05,120.56,034,3.5,Santa Cruz (Occidental Mindoro),2018-01-31 20:23:00,Occidental Mindoro,Santa Cruz
3,31 January 2018 - 06:42 PM,14.11,120.43,122,1.9,Nasugbu (Batangas),2018-01-31 18:42:00,Batangas,Nasugbu
4,31 January 2018 - 12:28 AM,18.71,120.87,022,3.3,Pagudpud (Ilocos Norte),2018-01-31 00:28:00,Ilocos Norte,Pagudpud

In [168]:

df_clean = df_clean.rename(columns={'Latitude (ºN)': 'Lat', 'Longitude (ºE)': 'Long', 'Depth (km)': 'Depth_km'})

In [169]:
df_clean = df_clean[['Datetime', 'Lat', 'Long', 'Depth_km', 'Mag', 'City','Province']]
df_clean.head(5)

,Datetime,Lat,Long,Depth_km,Mag,City,Province
0,2018-01-31 23:07:00,13.20,125.48,025,2.8,Palapag,Northern Samar
1,2018-01-31 22:32:00,11.68,124.26,007,3.7,Kawayan,Biliran
2,2018-01-31 20:23:00,13.05,120.56,034,3.5,Santa Cruz,Occidental Mindoro
3,2018-01-31 18:42:00,14.11,120.43,122,1.9,Nasugbu,Batangas
4,2018-01-31 00:28:00,18.71,120.87,022,3.3,Pagudpud,Ilocos Norte

In [171]:
null = df_clean[df_clean.isnull().any(axis=1)]
null.head(5)
null['City'].unique()

array(['Legazpi City', 'Davao City', 'Kidapawan City', 'Dumaguete City',
       'Surigao City', 'Iloilo City', 'Baguio City', 'Dagupan City',
       'Dipolog City', 'Tagbilaran City', 'Cotabato City',
       'Pagadian City', 'Tagaytay City', 'Ormoc City', 'Laoag City',
       '044 km from Kidapawan City', 'City Of Davao', 'Taiwan Region',
       'City Of Santiago', '10km from Masbate City',
       'City Of Cagayan De Oro', 'City Of Cotabato', 'Licuan',
       'City Of Zamboanga', 'Hinoba', 'Rapu', 'Sapa', 'AninI',
       'City Of Butuan', 'City Of Iloilo'], dtype=object)

In [173]:
city_to_province = {
    "Legazpi City": "Albay",
    "Davao City": "Davao del Sur",
    "Kidapawan City": "Cotabato (North Cotabato)",
    "Dumaguete City": "Negros Oriental",
    "Surigao City": "Surigao del Norte",
    "Iloilo City": "Iloilo",
    "Baguio City": "Benguet",
    "Dagupan City": "Pangasinan",
    "Dipolog City": "Zamboanga del Norte",
    "Tagbilaran City": "Bohol",
    "Cotabato City": "Maguindanao del Norte",
    "Pagadian City": "Zamboanga del Sur",
    "Tagaytay City": "Cavite",
    "Ormoc City": "Leyte",
    "Laoag City": "Ilocos Norte",
    "044 km from Kidapawan City": "Cotabato (North Cotabato)", 
    "City Of Davao": "Davao del Sur",
    "Taiwan Region": "Outside Philippines", 
    "City Of Santiago": "Isabela",
    "10km from Masbate City": "Masbate",
    "City Of Cagayan De Oro": "Misamis Oriental",
    "City Of Cotabato": "Maguindanao del Norte",
    "Licuan": "Abra",  
    "City Of Zamboanga": "Zamboanga del Sur",
    "Hinoba": "Negros Occidental",  
    "Rapu": "Albay", 
    "Sapa": "Northern Samar",  
    "AninI": "Antique", 
    "City Of Butuan": "Agusan del Norte",
    "City Of Iloilo": "Iloilo"
}
for city, province in city_to_province.items():
    df_clean.loc[(df_clean['Province'].isnull()) & (df_clean['City'] == city), 'Province'] = province

In [178]:

df_clean[df_clean.isnull().any(axis=1)]
df_clean.head(5)

,Datetime,Lat,Long,Depth_km,Mag,City,Province
0,2018-01-31 23:07:00,13.20,125.48,025,2.8,Palapag,Northern Samar
1,2018-01-31 22:32:00,11.68,124.26,007,3.7,Kawayan,Biliran
2,2018-01-31 20:23:00,13.05,120.56,034,3.5,Santa Cruz,Occidental Mindoro
3,2018-01-31 18:42:00,14.11,120.43,122,1.9,Nasugbu,Batangas
4,2018-01-31 00:28:00,18.71,120.87,022,3.3,Pagudpud,Ilocos Norte

In [179]:
# df_clean.to_csv("phivolcs_earthquakes_cleaned.csv", index=False)
df_clean.to_excel("phivolcs_earthquakes_cleaned.xlsx", index=False)

In [180]:
df_clean.isnull().sum()

Datetime    0
Lat         0
Long        0
Depth_km    0
Mag         0
City        0
Province    0
dtype: int64